<a href="https://colab.research.google.com/github/fegastal/PosTech-DataAnalytics_FirstPhase/blob/main/Produ%C3%A7%C3%A3o_Hospitalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando dados de Produção Hospitalar

In [1]:
nome = "Guilherme"

In [2]:
print(nome)

Guilherme

In [3]:
nome

'Guilherme'

In [4]:
import pandas as pd

In [20]:
dados = pd.read_csv("/content/A114354189_62_150_53.csv", encoding="ISO-8859-1", skiprows=3, sep=';', thousands='.', decimal=",")

# dados é um dataframe do pandas

In [17]:
dados.head()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2022/Ago,2022/Set,2022/Out,2022/Nov,2022/Dez,2023/Jan,2023/Fev,2023/Mar,2023/Abr,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,"9525352,64","10309106,47","10026702,19","10061542,23","9921628,37","9774962,91","6939913,08","6123142,34","2809110,10","1286713357,96"
1,12 Acre,-,-,-,-,-,-,-,-,-,...,"3894498,82","3529504,71","4040340,45","4029748,15","3956231,61","3915317,49","3381011,42","3394939,31","1401760,07","550167804,59"
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,"21958050,33","20685834,98","20322950,82","19374330,26","18104232,38","17423962,57","15360586,92","13106969,55","4607011,87","2431109298,08"
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,"4618378,13","4651406,91","4406762,46","4391756,17","3307092,09","3335325,99","2449009,26","2247863,29","836884,29","421459020,67"
4,15 Pará,-,-,-,-,-,-,-,-,-,...,"46369977,08","45602504,20","45458406,27","45863296,96","44721007,44","47007462,78","37790060,33","34611486,72","14416398,87","5861270009,50"

In [18]:
dados.tail()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2022/Ago,2022/Set,2022/Out,2022/Nov,2022/Dez,2023/Jan,2023/Fev,2023/Mar,2023/Abr,Total
30,"Dados referentes aos últimos seis meses, suje...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"A partir do processamento de junho de 2012, h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Até maio de 2012 estas informações estão...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"De junho de 2012 a outubro de 2015, estã...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"A partir de novembro de 2015, estão disp...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dados.mean()

<ipython-input-21-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago    5.881232e+05
2007/Set    1.519994e+06
2007/Out    4.706029e+06
2007/Nov    1.064061e+07
2007/Dez    2.379309e+07
                ...
2023/Jan    1.113021e+08
2023/Fev    9.016478e+07
2023/Mar    8.792502e+07
2023/Abr    4.053921e+07
Total       1.539976e+10
Length: 190, dtype: float64

In [22]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Columns: 312 entries, Unidade da Federação to Total
dtypes: float64(190), object(122)
memory usage: 85.4+ KB

In [24]:
pd.options.display.float_format = '{:.2f}'.format

In [25]:
dados.mean()

<ipython-input-25-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago        588123.21
2007/Set       1519994.43
2007/Out       4706028.57
2007/Nov      10640611.38
2007/Dez      23793093.17
                ...
2023/Jan     111302102.69
2023/Fev      90164782.52
2023/Mar      87925024.90
2023/Abr      40539206.93
Total      15399758873.16
Length: 190, dtype: float64

In [28]:
coluna_mais_recente = dados.columns[-1]

In [29]:
dados_recentes = dados[coluna_mais_recente]

In [30]:
print(dados_recentes)

0      1286713357.96
1       550167804.59
2      2431109298.08
3       421459020.67
4      5861270009.50
5       397186995.74
6      1277421198.05
7      4875091790.27
8      2845138452.79
9      8268976821.23
10     3374722049.08
11     3252791816.51
12    10779456862.94
13     2735040932.12
14     1562303965.21
15    12203298024.05
16    25619967806.11
17     4410880310.69
18    13168898651.80
19    50975927460.49
20    18384286981.08
21     9958168895.27
22    15695778721.48
23     2977545547.46
24     2776984815.33
25     6231771536.66
26     3274265099.05
27   215596624224.21
28               NaN
29               NaN
30               NaN
31               NaN
32               NaN
33               NaN
34               NaN
Name: Total, dtype: float64

In [31]:
penultima_coluna = dados.iloc[:, -2]

In [32]:
print(penultima_coluna)

0      2809110.10
1      1401760.07
2      4607011.87
3       836884.29
4     14416398.87
5      1823184.04
6       226111.49
7      9437097.82
8      9105939.36
9     17094223.01
10     8058974.26
11    10457707.79
12    34676781.98
13     6570640.67
14     2274803.87
15    30716940.30
16    66724936.31
17    13025442.16
18    34715797.10
19   152311035.09
20    53134228.39
21    24507992.14
22    28614776.79
23     3464911.18
24     6042972.96
25    17394131.69
26    13099103.44
27   567548897.04
28            NaN
29            NaN
30            NaN
31            NaN
32            NaN
33            NaN
34            NaN
Name: 2023/Abr, dtype: float64